    <!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Trip Key</title>
        <!-- <style>
            * {
            box-sizing: border-box;
            }

            body {
            background-color: #f1f1f1;
            }

            #regForm {
            background-color: #ffffff;
            margin: 100px auto;
            font-family: Raleway;
            padding: 40px;
            width: 70%;
            min-width: 300px;
            }

            h1 {
            text-align: center;  
            }

            input {
            padding: 10px;
            /* width: 100%; */
            font-size: 17px;
            border: 1px solid #aaaaaa;
            }
            .box{
                width: 50%;
            }
            /* Mark input boxes that gets an error on validation: */
            input.invalid {
            background-color: #ffdddd;
            }

            /* Hide all steps by default: */
            .tab {
            display: none;
            
            }

            button {
            background-color: #4CAF50;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 17px;
            font-family: Raleway;
            cursor: pointer;
            }

            button:hover {
            opacity: 0.8;
            }

            #prevBtn {
            background-color: #bbbbbb;
            }
            #submitBtn {
                display: none;
            }
            /* Make circles that indicate the steps of the form: */
            .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;  
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
            }

            .step.active {
            opacity: 1;
            }

            /* Mark the steps that are finished and valid: */
            .step.finish {
            background-color: #4CAF50;
            }
        </style> -->
    </head>
   

<body ng-app="product">
    <div ng-controller="adminController">    
        <div class="container"  >
            <h2>Product details </h2>
            <div class="container">
                <!-- The Modal -->
                <div class="modal" id="myModal">
                        <div class="modal-dialog">
                        <div class="modal-content">
                        
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 class="modal-title">Update product</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label" for="name">Product Name: </label>
                                    <div > 
                                        <input  class="form-control" id="name" ng-model="product.name" type="text">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label " for="brand"> Brand Name: </label>
                                    <div>          
                                        <input  class="form-control"  ng-model="product.brand"  type="text">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label"  for="Category">Category: </label>
                                    <div >          
                                        <input  class="form-control" id="name" ng-model="product.category" type="text">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label " for="amazone_price">amazone price:  </label>
                                    <div >          
                                        <input  class="form-control" id="name"  ng-model="product.amazon_price" type="number">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label " for="image_url">image_url:  </label>
                                    <div >          
                                        <input  class="form-control" id="name"  ng-model="product.image_url" type="text">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label "  for="amazon_associates_url">amazon_associates_url:  </label>
                                    <div >          
                                        <input  class="form-control" id="name"ng-model="product.amazon_associates_url" type="text">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label "  for="amazon_associates_url">flipkart_associates_url:   </label>
                                    <div >          
                                        <input  class="form-control" id="name" ng-model="product.flipkart_associates_url" type="text">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label"  for="snapdeal_associates_url">snapdeal_associates_url:  </label>
                                    <div >          
                                        <input  class="form-control" id="name"  ng-model="product.snapdeal_associates_url" type="text">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label " for="flipkart_price">flipkart_price:   </label>
                                    <div >          
                                        <input  class="form-control" id="name"ng-model="product.flipkart_price" type="number">
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                    <label class="control-label "  for="snapdeal_price">Snapdeal Price: </label>
                                    <div >          
                                        <input  class="form-control" id="name"ng-model="product.snapdeal_price" type="number">
                                    </div>
                                <!-- </div> -->
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" ng-click="updateProduct()">update</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                            
                        </div>
                        </div>
                </div>
            </div>
            <form class="form-horizontal" >
                <button class="btn btn-defalut" ng-click="hideShow()">create</button>
                <button class="btn btn-defalut" ng-click="showHide()">update</button>
                <div ng-show="myvar" class="form-group" >
                    <label class="control-label col-sm-2"for="name">Search product (for Update):</label>
                    <div class="col-sm-10">
                        <input class="form-control" data-toggle="dropdown" ng-model="searchText" placeholder="enter search term here">
                            <div  class="container" style="max-height: 50%;overflow-y: scroll;">
                                <div ng-repeat="data in productsData  | filter : searchText" >
                                [[data.name]] <button class="btn" data-toggle="modal" data-target="#myModal" ng-click="editProductData(data)">edit</button>
                                </div>
                            </div>

                    </div>
                </div>
                <div ng-hide="myvar">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Product Name: </label>
                        <div class="col-sm-10"> 
                            <input  class="form-control" id="name" ng-model="product.name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="brand"> Brand Name: </label>
                        <div class="col-sm-10">          
                            <input  class="form-control"  ng-model="product.brand"  type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"  for="Category">Category: </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name" ng-model="product.category" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="amazone_price">amazone price:  </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name"  ng-model="product.amazon_price" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="image_url">image_url:  </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name"  ng-model="product.image_url" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"  for="amazon_associates_url">amazon_associates_url:  </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name"ng-model="product.amazon_associates_url" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"  for="amazon_associates_url">flipkart_associates_url:   </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name" ng-model="product.flipkart_associates_url" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"  for="snapdeal_associates_url">snapdeal_associates_url:  </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name"  ng-model="product.snapdeal_associates_url" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="flipkart_price">flipkart_price:   </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name"ng-model="product.flipkart_price" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"  for="snapdeal_price">Snapdeal Price: </label>
                        <div class="col-sm-10">          
                            <input  class="form-control" id="name"ng-model="product.snapdeal_price" type="number">
                        </div>
                    </div>
                    <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="createProduct()">Submit</button>

                    </div>
                    </div>
                </div>
            </form>
            </div>
    </div>
    
<script type="text/javascript" src="../static/app.js"></script>
<!-- <script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the crurrent tab
    function showTab(n) {
      // This function will display the specified tab of the form...
      var x = document.getElementsByClassName("tab");
      x[n].style.display = "block";
      //... and fix the Previous/Next buttons:
      if (n == 0) {
        document.getElementById("submitBtn").style.display = "inline-block";
      } else {
        document.getElementById("submitBtn").style.display = "inline-block";
      }
      if (n == (x.length - 1)) {
        document.getElementById("submitBtn").style.display = "inline-block";
      } else {
        document.getElementById("nextBtn").innerHTML = "Next";
      }
      //... and run a function that will display the correct step indicator:
      fixStepIndicator(n)
    }
    function nextPrev(n) {
        console.log("n",n);
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("tab");
      // Exit the function if any field in the current tab is invalid:
      if (n == 1 && !validateForm()) return false;
      // Hide the current tab:
      console.log("currentTab",x[currentTab]);
      
      x[currentTab].style.display = "none";
      // InHse or decrease the current tab by 1:
      currentTab = currentTab + n;
      // if you have reached the end of the form...
      if (currentTab >= x.length) {
        // ... the form gets submitted:
        document.getElementById("regForm").submit();
        return false;
      }
      // Otherwise, display the correct tab:
      showTab(currentTab);
    }
    function validateForm() {
      // This function deals with validation of the form fields
      var x, y, i, valid = true;
      x = document.getElementsByClassName("tab");
      y = x[currentTab].getElementsByTagName("input");
      // A loop that checks every input field in the current tab:
      for (i = 0; i < y.length; i++) {
        // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field:
          y[i].className += " invalid";
          // and set the current valid status to false
          valid = false;
        }
      }
      // If the valid status is true, mark the step as finished and valid:
      if (valid) {
        document.getElementsByClassName("step")[currentTab].className += " finish";
      }
      return valid; // return the valid status
    }
    function fixStepIndicator(n) {
      // This function removes the "active" class of all steps...
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
      }
      //... and adds the "active" class on the current step:
      x[n].className += " active";
    }
    </script> -->


</body>
</html>
